<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../abas-localize-mixin.html">

<dom-module id="x-translate-structured">
	<template>
		<div id="output">[[localize('header:intro', 'name', 'batman', 'numCats', 3)]]</div>
		<div id="multi">[[localize('header:search:field')]]:[[localize('header:search:description')]]</div>
		<div id="missing">[[localize('intro', 'name', 'batman', 'numCats', 3)]]</div>
	</template>

	<script>
		class XTranslateStructured extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() {
				return "x-translate-structured"
			}

			static get properties() {
				return {
					language: {
						value: 'en',
						type: String
					},
					resources: {
						type: Object,
						value: function () {
							return {
								'en': {
									"header": {
										'intro': 'my name is {name}. i have {numCats, number} cats.',
										"search": {
											'field': 'search',
											'description': 'search in the website'
										}

									},
								},
								'fr': {
									"header": {
										'intro': 'je m\'apelle {name}. j\'ai {numCats, number} chats.',
										"search": {
											'field': 'chercher',
											'description': 'chercher sur le site'
										}
									}
								}
							};
						}
					}
				}
			}
		}
		customElements.define(XTranslateStructured.is, XTranslateStructured);
	</script>
</dom-module>