<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../abas-localize-mixin.html">

<dom-module id="x-translate2">
	<template>
		<div id="output">[[localize('intro', 'name', 'batman', 'numCats', 3)]]</div>
	</template>

	<script>
		class XTranslate2 extends Polymer.AbasLocalizeMixin(Polymer.Element) {
		static get is() {
			return "x-translate2";
		}

		static get properties() {
			return {
				language: {
					value: 'en',
					type: String
				},
				resources: {
					type: Object,
					value: function () {
						return {
							'en': {
								'intro': 'my name is {name}. i have {numCats, number} cats.'
							},
							'fr': {
								'intro': 'je m\'apelle {name}. j\'ai {numCats, number} chats.'
							}
						};
					}
				}
			}
		}
		}
		customElements.define(XTranslate2.is, XTranslate2);
	</script>
</dom-module>