<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../abas-localize-mixin.html">

<dom-module id="x-translate-l10n">
	<template>
		<div id="output">[[localize('intro', 'price', 10)]]</div>
	</template>

	<script>
		class XTranslateI18n extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() {
				return "x-translate-l10n";
			}

			static get properties() {
				return {
					language: {
						value: 'en',
						type: String
					},
					formats: {
						type: Object,
						value: function () {
							return {
								number: {
									USD: {
										style: 'currency',
										currency: 'USD'
									}
								}
							};
						}
					},
					resources: {
						type: Object,
						value: function () {
							return {
								'en': {
									'intro': 'Everything is {price, number, USD}'
								},
								'fr': {
									'intro': 'Tout est à {price, number, USD}.'
								}
							};
						}
					}
				}
			}
		}
		customElements.define(XTranslateI18n.is, XTranslateI18n);
	</script>
</dom-module>