<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../abas-localize-mixin.html">

<dom-module id="x-translate-only-imperative">
	<template>
	</template>

	<script>
		class XTranslateOnlyImperative extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() {
				return "x-translate-only-imperative";
			}

			static get properties() {
				return {
				language: {
					value: 'en',
					type: String
				},
				resources: {
					type: Object,
					value: function() {
						return {
							'en': {
								'greeting': 'hello'
							},
							'fr' : {
								'greeting': 'bonjour'
							}
						};
					}
				}
			}
			}
		}
		customElements.define(XTranslateOnlyImperative.is, XTranslateOnlyImperative);
	</script>
</dom-module>
