<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<script src="../intl-messageformat/dist/intl-messageformat.min.js"></script>

<script>
	/**
	 * `Polymer.AbasLocalizeMixin` wraps the [format.js](http://formatjs.io/) library to
	 * help you internationalize your application. Note that if you're on a browser that
	 * does not natively support the [Intl](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl)
	 * object, you must load the polyfill yourself. An example polyfill can
	 * be found [here](https://github.com/andyearnshaw/Intl.js/).
	 *
	 * `Polymer.AbasLocalizeMixin` supports the same [message-syntax](http://formatjs.io/guides/message-syntax/)
	 * of format.js, in its entirety; use the library docs as reference for the
	 * available message formats and options.
	 *
	 * Sample application loading resources from an external file:
	 *
	 *		 <dom-module id="x-app">
	 *				<template>
	 *				 <div>[[localize('hello', 'name', 'Batman')]]</div>
	 *				</template>
	 *				<script>
	 *					 class XApp extends Polymer.AbasLocalizeMixin(Polymer.Element) {
	 *						 static get is() {
	 *							 return "x-app"
	 *						 }
	 *
	 *						 static get properties() {
	 *								return {
	 *									language: {
	 *										value: 'en'
	 *									}
	 *								}	 
	 *						 }
	 *
	 *						 connectedCallback() {
	 *							 super.connectedCallback();	
	 *							 this.loadResources(this.resolveUrl('locales.json'));
	 *						 }
	 *					}
	 *					customElements.define(XApp.is, XApp);
	 *				&lt;/script>
	 *		 </dom-module>
	 *
	 *
	 * If the resources stored in your external file are for a single language and
	 * so are not nested inside any language keys, you can pass an optional
	 * `language` parameter to store the fetched resources inside that key.
	 *
	 * This complements the optional third parameter, `merge`, nicely: If you pass
	 * `merge = true`, the fetched resources will be merged into any existing
	 * resources rather than clobbering them.
	 *
	 * This is also useful for storing resources for different parts of a page that
	 * the user might or might not see at the same time in different files, so that
	 * the user can fetch only the needed resources on-demand, and doesn't have to
	 * load any resources they'll never see anyway. For example, you could store
	 * your resources for your global nav, homepage, and FAQ page in 3 different
	 * files. When a user requests the homepage, both the global nav and the
	 * homepage resources are fetched and merged together, since they both appear
	 * on the page at the same time, but you spare the user from fetching the
	 * unneeded FAQ resources.
	 *
	 *
	 * Example:
	 *
	 *		 connectedCallback() {
	 *			 super.connectedCallback();
	 *			 this.loadResources(
	 *
	 *				 // Only contains the flattened "es" translations:
	 *				 'locales/es.json',	// {"hi": "hola"}
	 *
	 *				 'es',							 // unflatten -> {"es": {"hi": "hola"}}
	 *
	 *				 true								// merge so existing resources won't be clobbered
	 *			 );
	 *		 }
	 *
	 *
	 * Alternatively, you can also inline your resources inside the app itself:
	 *
	 *		 <dom-module id="x-app">
	 *				<template>
	 *				 <div>[[localize('hello', 'name', 'Batman')]]</div>
	 *				</template>
	 *				<script>
	 *					 class XApp extends Polymer.AbasLocalizeMixin(Polymer.Element) {
	 *						 static get is() {
	 *							 return "x-app"
	 *						 }
	 *
	 *						 static get properties() {
	 *								return {
	 *									language: {
	 *										value: 'en'
	 *									},
	 *									resources: {
	 *										value: function() {
	 *											return {
	 *											 'en': { 'hello': 'My name is {name}.' },
	 *											 'fr': { 'hello': 'Je m\'apelle {name}.' }
	 *											}
	 *										}
	 *									}
	 *								}
	 *						 }
	 *					}
	 *					customElements.define(XApp.is, XApp);
	 *				&lt;/script>
	 *		 </dom-module>
	 *
	 * Using this component in an Structured Polymer app it can get anoying to bind language property downwards.
	 * Alternatively to oneway downwards binding you can fire an event that will be caugt by this behavior.
	 *		 
	 *		 //change language
	 *		 this.dispatchEvent(new CustomEvent('app-localize-language-changed'), {detail: {language: 'fr'}})
	 *		 //change fallbackLanguage
	 *		 this.dispatchEvent(new CustomEvent('app-localize-fallback-language-changed'), {detail: {fallbackLanguage: 'fr'}})
	 *
	 * Fallback Language:
	 * This language is used when no translation is found for default language.
	 *
	 * Stuctured Files:
	 * The resouce file can also have a deep structure for instace:

	 * ```JSON
	 * "en": {
	 *	 "welcome": {
	 *		 "polite": "Welcome Sir!",
	 *		 "normal": "Welcome!"
	 *	 }
	 * }
	 *	```
	 *
	 * You can access these structures by extending you translation key with :
	 *
	 * ```HTML
	 * <div>{{localize('welcome:polite')}}</div>
	 * ```
	 * 
	 * This repo wraps Format.js which means you should use a Language Key specific 
	 * to a region to have everything formated for that region for instance en_US and en_UK. 
	 * But this can get out of hands very quickly. Thats why this behavior fallsback to the language 
	 * when region specific does not provide a result. With this you can only use region in your 
	 * locales.json when needed:
	 * 
	 * ```JSON
	 * "en": {
	 *	 "welcome": "Welcome" 
	 * },
	 * "en_US": {
	 *	 "color": "color" 
	 * }
	 * "en_UK": {
	 *	 "color": "colour" 
	 * }
	 * ```
	 * 
	 * ```JavaScript
	 * language = 'en_US';
	 * localize("welcome"); //Welcome
	 * localize("color");	//color
	 * language = 'en_UK';
	 * localize("welcome"); //Welcome
	 * localize("color"); //colour
	 * ```
	 *
	 * @demo demo/index.html
	 * @polymer
	 * @mixinFunction
	 */
	Polymer.AbasLocalizeMixin = Polymer.dedupingMixin(
		(superClass) => {
			/**
			 * @memberof Polymer
			 * @polymer
			 * @mixinClass
			 */
			class AbasLocalizeMixin extends superClass {
				constructor() {
					super();
					/**
					 * Internal singleton cache. This is the private implementation of the
					 * behaviour; don't interact with it directly.
					 */
					window.__localizationCache = window.__localizationCache || {
						requests: {},/* One iron-request per unique resources path. */
						messages: {},/* Unique localized strings. Invalidated when the language, formats or resources change. */
						ajax: null /* Global iron-ajax object used to request resource files. */
					}
					this.__localizationCache = window.__localizationCache;
				}

				/**
				* @private
				*/
				connectedCallback() {
					super.connectedCallback();
					window.addEventListener("app-localize-language-changed", event => this.set("language", event.detail.language));
					window.addEventListener("app-localize-fallback-language-changed", event => this.set("fallbackLanguage", event.detail.fallbackLanguage));
				}
				/**
				* @private
				*/
				disconnectedCallback() {
					super.disconnectedCallback();
					window.removeEventListener("app-localize-language-changed", event => this.set("language", event.detail.language));
					window.removeEventListener("app-localize-fallback-language-changed", event => this.set("fallbackLanguage", event.detail.fallbackLanguage));
				}

				/**
				 * Fired after the resources have been loaded.
				 *
				 * @event app-localize-resources-loaded
				 */

				/**
				 * Fired when the resources cannot be loaded due to an error.
				 *
				 * @event app-localize-resources-error
				 */


				static get properties() {
					return {
						/**
						 * The language used for translation.
						 */
						language: {
							type: String,
							value: navigator.language || navigator.userLanguage
						},

						/**
						 * Fallback Language if the current language is not yet translated.
						 *
						 * For example having only english translation, but trying to open a french localization will return the fallback language
						 *
						 * this.resources = {
						 *	'en': { 'greeting': 'Hello!' }
						 * }
						 *
						 *
						 */
						fallbackLanguage: {
							type: String,
							value: "en"
						},

						/**
						 * The dictionary of localized messages, for each of the languages that
						 * are going to be used. See http://formatjs.io/guides/message-syntax/ for
						 * more information on the message syntax.
						 *
						 * For example, a valid dictionary would be:
						 * this.resources = {
						 *	'en': { 'greeting': 'Hello!' }, 'fr' : { 'greeting': 'Bonjour!' }
						 * }
						 */
						resources: {
							type: Object
						},

						/**
						 * Optional dictionary of user defined formats, as explained here:
						 * http://formatjs.io/guides/message-syntax/#custom-formats
						 *
						 * For example, a valid dictionary of formats would be:
						 * this.formats = {
						 *		number: { USD: { style: 'currency', currency: 'USD' } }
						 * }
						 */
						formats: {
							type: Object,
							value: function () {
								return {}
							}
						},

						/**
						 * If true, will use the provided key when
						 * the translation does not exist for that key.
						 */
						useKeyIfMissing: {
							type: Boolean,
							value: false
						},

						/**
						 * Translates a string to the current `language`. Any parameters to the
						 * string should be passed in order, as follows:
						 * `localize(stringKey, param1Name, param1Value, param2Name, param2Value)`
						 */
						localize: {
							type: Function,
							computed: "__computeLocalize(language, resources, formats)"
						},

						/**
						 * If true, will bubble up the event to the parents
						 */
						bubbleEvent: {
							type: Boolean,
							value: false
						}
					};
				}

				/**
				* Loads a language resource file. 
				* @param {String} path URL to resource
				* @param {String} language The language this resource file contains
				* @param {Boolean} merge True merge resources instead of overwriting it
				*/
				loadResources(path, language, merge) {
					if (typeof arguments[0] == "object") {
						language = arguments[0].language;
						merge = arguments[0].merge;
						path = arguments[0].path;
					}

					let proto = this.constructor.prototype;

					// Check if localCache exist just in case.
					this.__checkLocalizationCache(proto);

					// If the global ajax object has not been initialized, initialize and cache it.
					let ajax = this.__localizationCache.ajax;
					if (!ajax) {
						ajax = this.__localizationCache.ajax = document.createElement("iron-ajax");
					}

					let request = this.__localizationCache.requests[path];

					function onRequestResponse(event) {
						this.__onRequestResponse(event, language, merge);
					}

					if (!request) {
						ajax.url = path;
						let request = ajax.generateRequest();

						request.completes.then(
							onRequestResponse.bind(this),
							this.__onRequestError.bind(this)
						);

						// Cache the instance so that it can be reused if the same path is loaded.
						this.__localizationCache.requests[path] = request;
					} else {
						request.completes.then(
							onRequestResponse.bind(this),
							this.__onRequestError.bind(this)
						);
					}
				}

				/**
				 * Returns a computed localized message, based on the current `language`.
				 */
				__localTranslate(resources, key) {
					if (!key || !resources || !this.language)
						return;


					// Cache the key/value pairs for the same language, so that we don't
					// do extra work if we're just reusing strings across an application.
					let translatedValue = this.__findTranslatedValue(resources, this.language, key);
					//No Value try without region
					if (!translatedValue && this.__hasRegion(this.language)) {
						translatedValue = this.__findTranslatedValue(resources, this.__removeRegion(this.language), key);
					}
					//use fallback key if provided
					if (!translatedValue && this.fallbackLanguage) {
						translatedValue = this.__findTranslatedValue(resources, this.fallbackLanguage, key);
					}

					//Still no Value? try fallbackLanguage without region
					if (!translatedValue && this.__hasRegion(this.fallbackLanguage)) {
						translatedValue = this.__findTranslatedValue(resources, this.__removeRegion(this.fallbackLanguage), key);
					}
					return translatedValue ? translatedValue : key;
				}

				/**
				 * Returns a computed `localize` method, based on the current `language`.
				 */
				__computeLocalize(language, resources, formats) {
					let proto = this.constructor.prototype;

					let fallbackLanguage = this.fallbackLanguage;

					// Check if localCache exist just in case.
					this.__checkLocalizationCache(proto);

					// Everytime any of the parameters change, invalidate the strings cache.
					if (!this.__localizationCache) {
						proto["__localizationCache"] = {
							requests: {},
							messages: {},
							ajax: null
						};
					}
					this.__localizationCache.messages = {};

					if (!resources || !language)
						return;

					return function () {
						let key = arguments[0];
						if (!key || !resources || !language)
							return;


						// Cache the key/value pairs for the same language, so that we don't
						// do extra work if we're just reusing strings across an application.
						let translatedValue = this.__findTranslatedValue(resources, language, key);
						//No Value try without region
						if (!translatedValue && this.__hasRegion(language)) {
							translatedValue = this.__findTranslatedValue(resources, this.__removeRegion(language), key);
						}
						//use fallback key if provided
						if (!translatedValue && fallbackLanguage) {
							translatedValue = this.__findTranslatedValue(resources, fallbackLanguage, key);
						}

						//Still no Value? try fallbackLanguage without region
						if (!translatedValue && this.__hasRegion(fallbackLanguage)) {
							translatedValue = this.__findTranslatedValue(resources, this.__removeRegion(fallbackLanguage), key);
						}


						if (!translatedValue) {
							return this.useKeyIfMissing ? key : "";
						}

						let messageKey = key + translatedValue;
						let translatedMessage = this.__localizationCache.messages[messageKey];

						if (!translatedMessage) {
							translatedMessage = new IntlMessageFormat(translatedValue, language, formats);
							this.__localizationCache.messages[messageKey] = translatedMessage;
						}

						let args = {};
						for (let i = 1; i < arguments.length; i += 2) {
							args[arguments[i]] = arguments[i + 1];
						}

						return translatedMessage.format(args);
					};
				}

				__findTranslatedValue(resources, language, key) {
					let subKey = key.split(":");
					let translatedValue = null;
					if (subKey.length > 1) {
						// use namesSpace multi level
						translatedValue = resources[language][subKey[0]];
						for (let i = 1; i < subKey.length; i++) {
							if (translatedValue) {
								translatedValue = translatedValue[subKey[i]];
							} else {
								break;
							}
						}
					} else {
						translatedValue = resources.hasOwnProperty(language) && resources[language].hasOwnProperty(key) ? resources[language][key] : "";
					}
					return translatedValue;
				}

				__onRequestResponse(event, language, merge) {
					let propertyUpdates = {};
					let newResources = event.response;
					if (merge) {
						if (language) {
							propertyUpdates.resources = Object.assign({}, this.resources || {});
							propertyUpdates["resources." + language] = Object.assign(
								propertyUpdates.resources[language] || {}, newResources);
						} else {
							propertyUpdates.resources = Object.assign(this.resources, newResources);
						}
					} else {
						if (language) {
							propertyUpdates.resources = {};
							propertyUpdates.resources[language] = newResources;
							propertyUpdates["resources." + language] = newResources;
						} else {
							propertyUpdates.resources = newResources;
						}
					}
					if (this.setProperties) {
						this.setProperties(propertyUpdates);
					} else {
						for (let key in propertyUpdates) {
							this.set(key, propertyUpdates[key]);
						}
					}
					this.dispatchEvent(new CustomEvent("app-localize-resources-loaded", {
						bubbles: this.bubbleEvent,
						composed: true,
						detail: Object.assign({}, event)
					}));
				}

				__onRequestError(event) {
					this.dispatchEvent(new CustomEvent("app-localize-resources-error", {
						composed: true
					}));
				}

				__checkLocalizationCache(proto) {
					// do nothing if proto is undefined.
					if (proto === undefined) return;

					// In the event proto not have __localizationCache object, create it.
					if (proto["__localizationCache"] === undefined) {
						proto["__localizationCache"] = {
							requests: {},
							messages: {},
							ajax: null
						};
					}
				}
				__removeRegion(languageKey) {
					if (languageKey.indexOf("_") != -1) {
						return languageKey.split("_")[0];
					}
					if (languageKey.indexOf("-") != -1) {
						return languageKey.split("-")[0];
					}
					return languageKey;
				}

				__hasRegion(languageKey) {
					return languageKey.indexOf("_") != -1 || languageKey.indexOf("-") != -1;
				}
			}
			return AbasLocalizeMixin;
		}
	)
</script>